<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312946413238-v9b277aa67dp703ki90pl0f0kd73ghk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312946413238-v9b277aa67dp703ki90pl0f0kd73ghk3</string>
	<key>API_KEY</key>
	<string>AIzaSyDKCJMgAurUGRXF2Y2SbtJDb7srnkYxFGU</string>
	<key>GCM_SENDER_ID</key>
	<string>312946413238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sohmtee.auscy</string>
	<key>PROJECT_ID</key>
	<string>auscy-2621e</string>
	<key>STORAGE_BUCKET</key>
	<string>auscy-2621e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312946413238:ios:23f416e158bcaf0d016017</string>
</dict>
</plist>